/* $widget-width: 200px; */
/* $widget-height: 200px; */
/* $widget-gutter: 0px; */
/* $columns: 3; */

body {
  overflow: hidden;
}


* {
  box-sizing: border-box;
}
.packery-drop-placeholder {
  outline: 3px dashed hsla(0, 0%, 0%, 0.5);
  outline-offset: -6px;
  -webkit-transition: -webkit-transform 0.2s;
          transition: transform 0.2s;
}

.header{
  font-size: 70px;
  font-weight: 600;
  align-self: center;
  background-image: linear-gradient(to left, #553c9a, #b393d3);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}


/* Description styles */
.description {
  font-size: 20px; /* Adjust as needed */
  font-weight: 400;
  align-self: center;
  color: #28085c;
}

.oxy-card-title {
  display:block;
  cursor: move;
  span {
    cursor: default;
    display:inline-block;
  } 
}

.oxy-card-content {
  height: 230px;
}

.collapsable {
  font-family: Verdana, Arial, Helvetica, sans-serif; 
  color: #00529b;
  font-size: 14px;
  font-weight: 800;
}

.image_box {
  height: 300px;
}

.collapsed .oxy-card-content {
  display: none;
}
.grid {
  width: (200px * 3 + 10px * (3 - 1));
}

.grid-item {
  float: left;
  width: 200px;
}
.grid-item.twox {
  width: 200px * 2 + 10px;
}

.oxy-card .oxy-card-title {
  border-bottom: 1px solid hsla(0, 0%, 63%, .2);
  color: #00529b;
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 800;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: .625rem;
  text-transform: uppercase;
}


.oxy-card .oxy-card-content {
  padding: 10px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

/*****************/
.grid {
  -webkit-transform-origin: top center;
  transform-origin: top center;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}
.mdl-shadow--2dp {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14),
    0 3px 1px -2px rgba(0, 0, 0, .2),
    0 1px 5px 0 rgba(0, 0, 0, .12);
}

.demo--containment__container {
    top: -2.4em;
    height: 650px;
    padding: 15px 2.5%;
    border-radius: 10px;
    /* border: 6px solid #FA0; */
  }

  .result-container {
    /* top: -2.4em; */
    /* padding: 15px 2.5%; */
    border-radius: 10px;
    width:200px;
    color: #00529b;
    font-size: 18px;
    font-size: 1.125rem;
    font-weight: 800;
    font-family: Verdana, Arial, Helvetica, sans-serif;
  }

  .button-container {
    /* top: -2.4em; */
    padding: 15px 2.5%;
    border-radius: 10px;
    width:500px;
    height:500px;
    /* border: 6px solid #FA0; */
  }

  .shuffle-button-container {
    /* top: -2.4em; */
    padding: 15px 2.5%;
    border-radius: 10px;
    width: 200px;
    /* border: 6px solid #FA0; */
  }

  * {
    box-sizing: border-box;
}